* {
  margin: 0;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10px;
  column-gap: 30px;


  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, rgb(18, 1, 255), rgb(255, 136, 0));
  padding: 16px;
  height: 500px;
}

.bloco-1 {
  
  background-color: #ff0000;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

.bloco-2 {
  
  background-color: #8400ff;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

.bloco-3 {
  /* indiferente: */
  background-color: #ff6600;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}
.bloco-4 {
  /* indiferente: */
  background-color: #1900ff;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 16px;
}

.load {
  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid white;
  width: 120px;
  height: 120px;
  animation: rotate  2s linear infinite ;
  }
  @keyframes rotate{
  0%{ transform: rotate(0deg);}
  100%{ transform: rotate(360deg);}
  }
  
  .container h1{
     background:text ;
  color: white; 
  text-align: center;
  
  display: auto;
  
  }